*{
    text-transform: capitalize;
}
body{
    font-family: serif;
    margin: -0.1em;
    background-color: #fefae0;
}
header{
    background-color: #ccd5ae;
    text-align: center;
    margin-bottom: 1em;
    padding: 1.5em;
}
header h1{
    margin: 0;
}
ul{
    padding: 0;
}
h2{
    display: inline-block;
    margin: 0;
    border-bottom: 0.2em solid #d4a373;
}
li{
    padding: 0.5em 0 ;
    display: inline-block;
}
footer{
    background-color: #bfc99e;
    text-align: center;
    position: relative;
    top: 0em;
    padding: 1.5em;
}
.start{
    padding: 1em;
    display: inline-block;
    width: 47.631em;
    height: 500px;
    border-right: 2px solid #d4a373;
    margin-left: 0.25em;
}
.main{
    padding: 1em;
    display: inline-block;
    width: 47em;
    height: 500px;
}